@model List<RolePageActionAuthDto>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="col-12 col-md-3">
    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Rol Sayfa Yetki Bilgileri burada yapılıyor"><i class="fa-solid fa-circle-info"></i>&nbsp;Rol Sayfa Yetki Bilgileri</h4>
    </div>


<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="row text-center p-2">
    <div class="col-12 col-md-3">
    <a href="#" class="m-2 p-2 button-add"><i class="fa-solid fa-plus"></i>&nbsp;Ekle</a>
    </div>
    <div class="col-12 col-md-4">
        
        <input type="text" class=" m-2 p-2 form-control search-input-custom" placeholder="Statü Tipi Ara"/>
    </div>
    <div class="col-12 col-md-4">
        
        <a type="text" class=" m-2 p-2 form-control button-add" id="BidName">Arama</a>
    </div>
    
    </div>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>

                    <th scope="col">Statü Tip Adı</th>
                    <th scope="col">Durum</th>
                    
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
                <tr>
                   <td>Mark</td>
                    <td>Otto</td>
                    
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
            </tbody>
        </table>
    </div>
    </div>