@model CarModelAddViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-12 col-md-3">
    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Araç Model Özellikleri burada halledilir"><i class="fa-solid fa-circle-info"></i>&nbsp;Araç Model Özellik Ekleme</h4>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="CarModelAdd" method="post">
        <div class="row justify-content-end m-2 mb-2">
            <div class="col align-self-end">
                <button class=" m-2 p-2 button-29">KAYDET</button>
            </div>
        </div>

        <div class="row text-center p-2">
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Araba Marka Listesi</label>
                <select class="form-select" asp-for="CarBrandId" asp-items="Model.CarBrandList">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Araba Modeli</label>
                <input class="form-control" asp-for="ModelName" placeholder="Model Giriniz"></input>
            </div>
        </div>
    </form>
</div>