@using SecondHandCarBidProject.AdminUI.DTO
@using SecondHandCarBidProject.AdminUI.GUI.ViewModels
@model CorporatePackageTypeAddViewModels

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="tooltip">
    <h4><i class="fa-solid fa-lg fa-circle-info"></i>Şirketler İçin Paket Tipi Ekleme Ekranı</h4>
    <span class="tooltiptext">Şirketler İçin Paket Tipi Ekleme İşlemleri Bu Sayfada Yapılır.</span>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="AddCorporatePackageType" method="post">

        <h3 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Şirketler İçin Paket Tipi Ekleme Ekranı</h3>
        <div class="row text-center p-2">

        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">Paket Adı</label>
            <select class="form-select" id="tabloname1">
               <option value="">--Seçiniz--</option>
            </select>
        </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    İhale Sayısı
                </label>
                <input type="number" class="form-control" id="tabloname" placeholder="İhale Sayısı Giriniz">
            </div>
            </br>

        </div>
    <div class="row justify-content-end m-2 mb-2">
        <div class="col align-self-end">
            <button class=" m-2 p-2 button-29">KAYDET</button>
        </div>
    </div>
    </form>
        </div>
 