@model CommissionFeeAddViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-12 col-md-3">
    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Araç Komisyon Ücret Özellikleri burada halledilir"><i class="fa-solid fa-circle-info"></i>&nbsp;Araç Komisyon Ücret Özellik Ekleme</h4>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="CommissionFeeAdd" method="post">
        <div class="row justify-content-end m-2 mb-2">
            <div class="col align-self-end">
                <button class=" m-2 p-2 button-29">KAYDET</button>
            </div>
        </div>
        <div class="row text-center p-2">
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Ücret</label>
                <input class="form-control" type="number" asp-for="FeeAmount"></input>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">En Düşük Fiyat</label>
                <input class="form-control" type="number" asp-for="MinPrice"></input>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">En Yüksek Fiyat</label>
                <input class="form-control" type="number" asp-for="MaxPrice"></input>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Başlama Tarihi</label>
                <input class="form-control" type="datetime-local" asp-for="StartDate"></input>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Bitiş Tarihi</label>
                <input class="form-control" type="datetime-local" asp-for="EndDate"></input>
            </div>
        </div>

    </form>
</div>