@model CarPropertyValueAddViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-12 col-md-3">
    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Araç Parça Özellikleri burada halledilir"><i class="fa-solid fa-circle-info"></i>&nbsp;Araç Parça Özellik Ekleme</h4>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="CarPropertyValueAdd" method="post">
        <div class="row justify-content-end m-2 mb-2">
            <div class="col align-self-end">
                <button class=" m-2 p-2 button-29">KAYDET</button>
            </div>
        </div>

        <div class="row text-center p-2">
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Araba Parça Listesi</label>
                <select class="form-select" asp-for="TopPropertyValueId" asp-items="Model.TopPropertValueList">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Parça Adı</label>
                <input class="form-control" asp-for="PropertyValue" placeholder="Parça Giriniz"></input>
            </div>
        </div>
    </form>
</div>