@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="~/admintemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admintemplate/css/bootstrap.css" rel="stylesheet" />
    <style>
        label {
            font-size: 20px;
            font-weight: 600;
            color: black;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <form>
            <div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000; background-color:#ffff;border-radius:10px ">
                <h2 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">İhale Genel Bilgileri</h2>
                <div class="row text-center p-2">

                    <div class="col-12 col-md-4">
                        <h4 class="title-color">İhale Adı</h4>
                        <input type="text" class="form-control" id="BidName">
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="title-color">Bireysel/Kurumsal</h4>
                        <select class="form-select" id="BidName" placeholder="">
                            <option selected></option>
                            <option>Kurumsal</option>
                            <option>Bireysel</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="title-color">Şirket Adı</h4>
                        <select class="form-select" id="BidName" placeholder="">
                            <option selected></option>
                            <option>A Holding</option>
                            <option>B Holding</option>
                        </select>
                    </div>
                </div>
                <div class="row text-center mt-3 p-2 mb-2">
                    <div class="col-12 col-md-4">
                        <h4 class="title-color">Statü</h4>
                        <select class="form-select" id="BidName" placeholder="">
                            <option selected></option>
                            <option>Giriş</option>
                            <option>Ön Değerleme verildi</option>
                            <option>Ekspertiz yapılıyor/Resmi Teklif Bekliyor</option>
                            <option>Resmi Teklif verildi</option>
                            <option>Teklif Kabul Edildi</option>
                            <option>İhale Sonlandı</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="title-color">İhale Başlangıç Tarihi</h4>
                        <input class="form-control" type="datetime-local" id="BidName">
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="title-color">İhale Bitiş Tarihi</h4>
                        <input class="form-control" type="datetime-local" id="BidName">
                    </div>
                </div>

            </div>
            <div class=" p-3" style="margin-top:50px;box-shadow: 6px 20px 40px #000000; background-color:#ffff;border-radius:10px">
                <h2 class="m-2 big-title-color p-2" style="text-align:center; color:#002244;font-weight:bold">İhale Araç Bilgileri</h2>
                <div class="row text-center p-2">
                    <div class="table-responsive">
                        <table class=" table-bordered table-custom-css">
                            <thead class="thead color-gradient" style="color: #ffff;">
                                <tr>

                                    <th scope="col">Araç Kodu</th>
                                    <th scope="col">Araç Marka</th>
                                    <th scope="col">Bireysel/Kurumsal</th>
                                    <th scope="col">Statü</th>
                                    <th scope="col">Kaydeden Kullanıcı</th>
                                    <th scope="col">Kaydetme Zamanı</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>12312</td>
                                    <td> <a href="#" class=" m-2 p-2 button-gnc">GÜNCELLE</a></td>
                                    <td> <a href="#" class=" m-2 p-2 button-delete">SİL</a></td>

                                </tr>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>123213</td>
                                    <td> <a href="#" class=" m-2 p-2 button-gnc">GÜNCELLE</a></td>
                                    <td> <a href="#" class=" m-2 p-2 button-delete">SİL</a></td>

                                </tr>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>213213</td>
                                    <td> <a href="#" class=" m-2 p-2 button-gnc">GÜNCELLE</a></td>
                                    <td> <a href="#" class=" m-2 p-2 button-delete">SİL</a></td>

                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="row justify-content-end m-2 mb-2">
                            <div class="col align-self-end">
                                <button class=" m-2 p-2 button-29">ARAÇ EKLE</button>
                                <button class=" m-2 p-2 button-29">KAYDET</button>
                            </div>

                        </div>

                    
                </div>

            </div>
        </form>
    </div>

</body>
</html>
