@using SecondHandCarBidProject.AdminUI.DTO
@model CarDetailAddDto

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="tooltip">
      <h4><i class="fa-solid fa-lg fa-circle-info"></i> Araç Ekleme</h4>
      <span class="tooltiptext">Bu sayfa admin için gereklidir. Aaraba detayları burada halledilir</span>
      </div>
    <div class="row text-center p-2">

        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark">Fiyat</label>
            <input type="number" class="form-control" id="tabloname"">
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" >Kilometre</label>
            <input type="number" class="form-control" id="tabloname">
        </div>

        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" >Araç Marka</label>
            <select class="form-select" id="tabloname1">
                <option value="">--Seçiniz--</option>
            </select>
        </div>
    </div>
    <div class="row text-center mt-3 p-2 mb-2">
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Yıl</label>
            <input type="number" class="form-control" id="tabloname">
        </div>
        <div class="col-12 col-md-4">
        <label class="fw-bold text-dark" class="title-color">Versiyon</label>
        <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>
        </select>
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Araç Model</label>
            <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>

            </select>
        </div>
    </div>
    <div class="row text-center mt-3 p-2 mb-2">
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">DateTime1</label>
            <input class="form-control" type="datetime-local" id="DateTime1">
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">DateTime2</label>
            <input class="form-control" type="datetime-local" id="DateTime2">
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Bireysel Araç/Kurumsal Araç</label>
            <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>

            </select>
        </div>
        @*        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <h5 class="title-color">Aktif</h5>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <h5 class="title-color">Aktif Değil</h5>

        </div>*@

    </div>
    <div class="row text-center mt-3 p-2 mb-2">
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Gövde Tipi</label>
            <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>

            </select>
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Yakıt Tipi</label>
            <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>

            </select>
        </div>
        <div class="col-12 col-md-4">
            <label class="fw-bold text-dark" class="title-color">Vites Tipi</label>
            <select class="form-select" id="tabloname2">
                <option value="">--Seçiniz--</option>

            </select>
        </div>

    </div>

    <div class="row text-center mt-3 p-2 mb-2">
        <div class="col-12 col-md-6">
        <div class="p-3 border bg-light">
            <label class="fw-bold text-dark">Açıklama</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        </div>
        <div class="col-12 col-md-6">
             <div class="p-3 border bg-light">
        <label class="fw-bold text-dark" >Donanımlar </label>
        <select class="form-select" multiple aria-label="multiple select example">
                    <option value="">--Seçiniz--</option>
        </select>
         </div>
    </div>
    </div>

   
    <div class="col-12 col-md-4">
        <div class="p-3 border bg-light">
            <label class="fw-bold text-dark">Fotoğraf Ekle</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
    </div> 

</div>