@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="tooltip">
    <h4><i class="fa-solid fa-lg fa-circle-info"></i>Araç Detay Bilgileri</h4>
    <span class="tooltiptext">Bu sayfa admin için gereklidir. Aaraba detayları burada halledilir</span>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="Save" method="get" asp-controller="Base">
        @Html.AntiForgeryToken();
        <h2 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Kullanıcı Ekle</h2>
        <div class="row text-center p-2  justify-content-md-center">
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Adı</label>
                <input type="text" class="form-control" id="tabloname" placeholder="İsim Giriniz">
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Soy Adı</label>
                <input type="text" class="form-control" id="tabloname" placeholder="Soyad Giriniz">
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="tabloname" placeholder="Kullanıcı Adı Giriniz">
            </div>
        </div>
        <div class="row text-center p-2  justify-content-md-center">
                <div class="col-12 col-md-4 form-group">
                   <label class="fw-bold text-dark pb-2" style="display:block">Email</label>
                <input type="email" class="form-control" id="tabloname" placeholder="Email Giriniz">
                </div>
                <div class="col-12 col-md-4 form-group">
                   <label class="fw-bold text-dark pb-2" style="display:block">Şİfre</label>
                <input type="Password" class="form-control" id="tabloname" placeholder="Şifre Giriniz">
                </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark pb-2" style="display:block">Telefon Numarası</label>
                <input type="tel" placeholder="888 888 8888" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="10" title="10 karakter giriniz" required class="form-control" id="tabloname">
            </div>
        </div> 
        <div class="row text-center p-2  justify-content-md-center">

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark pb-2" style="display:block">Durum</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="fw-bold text-dark">Aktif</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="fw-bold text-dark">Pasif</label>
                </div>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark pb-2" style="display:block">Kurumsal/Bireysel</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="fw-bold text-dark">Kurumsal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="fw-bold text-dark">Bireysel</label>
                </div>
            </div> 
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark pb-2" style="display:block">Onay Durumu</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="fw-bold text-dark">Onayla</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="fw-bold text-dark">Beklet</label>
                </div>
            </div>
        </div>

        <div class="row row  justify-content-md-center m-2 mb-2">
            <div class="col-3">
                <button class=" m-2 p-2 button-29" style="width:100%">KAYDET</button>
            </div>
        </div>
    </form>
</div>
    
