@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="tooltip">
        <h4><i class="fa-solid fa-lg fa-circle-info"></i> Statü Tip Bilgileri</h4>
        <span class="tooltiptext">Bu sayfa statü için gereklidir.</span>
    </div>
    <a href="#" class="m-2 p-2 button-add"><i class="fa-solid fa-plus"></i>&nbsp;Ekle</a>

</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>

                    <th scope="col">Araç Kodu</th>
                    <th scope="col">Araç Marka</th>
                    <th scope="col">Bireysel/Kurumsal</th>
                    <th scope="col">Statü</th>
                    <th scope="col">Kaydeden Kullanıcı</th>
                    <th scope="col">Kaydetme Zamanı</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>12312</td>
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>123213</td>
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>213213</td>
                    <td> <a href="#"  class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
            </tbody>
        </table>
    </div>
    </div>