@using SecondHandCarBidProject.AdminUI.DTO
@using SecondHandCarBidProject.AdminUI.GUI.ViewModels
@model NotificationMessageUpdateViewModels
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="tooltip">
    <h4><i class="fa-solid fa-lg fa-circle-info"></i>Bildirim Mesajları Güncelleme Ekranı</h4>
    <span class="tooltiptext">Bildirim Mesajları Bu Sayfada Güncellenir.</span>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">

    <h3 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Bildirim Mesajları Güncelleme Ekranı </h3>
       <div class="row text-center p-2">
        <div class="col-12 col-md-4 form-group">
            <input class="form-control" type="hidden" placeholder="Readonly input here…" readonly>
        </div>
        </div>
    <div class="row text-center p-2">
        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">Mesaj İçeriği</label>
            <input type="text" class="form-control" id="tabloname" placeholder="Mesaj Giriniz">
        </div>
         <div class="col-12 col-md-4">
                <label class="fw-bold text-dark">
                    Düzenlenme Tarihi</label>
            <input class="form-control" type="datetime-local" id="DateTime1">
        </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Düzenleme Yapan Kişi</label>
            <select class="form-select" id="tabloname1">
                <option value="">--Seçiniz--</option>
            </select>
        </div>
    </div>
        <div class="row justify-content-end m-2 mb-2">
            <div class="col align-self-end">
                <button class=" m-2 p-2 button-29">KAYDET</button>
            </div>
            </div>
</div>