@using SecondHandCarBidProject.AdminUI.DTO
@model ExampleDTO

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form>
<div class="container overflow-hidden" style="margin-top:50px;">

        <table class="table table-sm bg-light">
            <thead>
                <tr>
                    <th scope="col">Araç Statü</th>
                    <th scope="col">Tarih</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Giriş</td>
                    <td>01.10.2022</td>
                </tr>
                <tr>
                    <td>Hemen Al Satışta</td>
                    <td>02.10.2022</td>
                </tr>
                <tr>
                    <td>İhalede</td>
                    <td>06.10.2022</td>
                </tr>
            </tbody>
        </table>
</div>
</form>
