@using SecondHandCarBidProject.AdminUI.DTO
@model ExampleDTO

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form>

    <div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
        <h2 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Alıcı Üyelik Bilgileri</h2>
    <div class="container overflow-hidden" style="margin-top:50px;">
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Ad : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Esra">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Soyad : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Özcan">
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Kullanıcı Adı : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Essrinc">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sabireesraozcan@gmail.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Telefon Numarası : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="530 937 36 20">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Kayıt Olma Tarihi : </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="07.10.2022">
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="row justify-content-end m-2 mb-2">
        <div class="col align-self-end">
            <button class=" m-2 p-2 button-29">Geri</button>
        </div>
    </div>
</form>
