@using SecondHandCarBidProject.AdminUI.DTO
@model ExampleDTO

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form>
    <div class="container overflow-hidden" style="margin-top:50px;">
        <div class="tooltip">

      <h4><i class="fa-solid fa-lg fa-circle-info"></i>Tramer İnformation</h4>
      <span class="tooltiptext">Araç İçin Tramer Bilgileri Bu Sayfada Kaydedilir?</span>
    </div>
      <br />
</br>
        <div class="form-group row">
            <label for="TramerTutari" class="col-sm-2 col-form-label">Tramer Tutarı : </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="TramerTutari" placeholder="TramerTutari">
                <br />
                <br />
            </div>
            <table class="table bg-light">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Orijinal</th>
                        <th scope="col">Boyalı</th>
                        <th scope="col">Değişmiş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Sağ Arka Çamurluk</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Arka Kaput</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sol Arka Çamurluk</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sağ Arka Kapı</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sağ Ön Kapı</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tavan</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sol Arka Kapı</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sol Ön Kapı</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sağ Ön Çamurluk</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Motor Kaputu</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sol Ön Çamurluk</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ön Tampon</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Arka Tampon</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br />
            <div>
                <a class="col-md-3 btn btn-white car-detail-button">Kaydet</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-end m-2 mb-2">
        <div class="col align-self-end">
            <button class=" m-2 p-2 button-29">KAYDET</button>
            <button class=" m-2 p-2 button-29">Geri</button>

        </div>
    </div>
</form>
